@import '../../../styles/colors';
@import '../../../styles/global';
@import '../../../styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem 20rem;

  h1 {
    max-width: 46rem;
    padding-bottom: 1rem;
  }

  p {
    color: $font-gray;
    padding-bottom: 6rem;
    text-align: center;
  }

  img {
    height: auto;
    width: 100%;
    max-width: 380px;
  }

  .card {
    display: flex;
    align-items: center;
  }
  
  .form {
    background-color: $lightgray;
    width: 780px;
    height: 380px;
    border-radius: $border-radius;
  }
}