@import '../../../styles/breakpoints';
@import '../../../styles/colors';

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12.5rem;
  padding-bottom: 11rem;
}

.reversed {
  flex-direction: row-reverse;
}

.centered {
  text-align: center;

  h2 {
    color: $yellow;
  }
}

.image {

  img {
    width: 100%;
    height: auto;
  }
}

.info {
  max-width: 35rem;

  h2 {
    padding-bottom: 0.8rem;
  }

  p {
    padding-bottom: 1.75rem;
  }
}

@media (max-width: $screen-medium) {
  .card {
    gap: 4rem;
  }

  .info {
    max-width: 20rem;

  }
}

@media (max-width: $screen-small) {
  .card {
    flex-direction: column;
  }

  .image {
    width: 40%;
  }
}