// Colors
$white: #fff;
$lightgray: #F8F9FA;
$font-black: #212E44;
$blue: #5187E2;
$blue-hover: #6796E6;
$yellow: #FFCF53;
$yellow-hover: #FFDB7E;
$font-gray: #92A7B9;
$toggle-active: #B6CDF2;
$green: #54E251;
$red: #E25151;
$darkgray: #EBEFF2;
$disabled: #D4DAE0;
$disabled-font: #AFBBC6;

$shadow-light: 0px 2px 4px rgba(219, 219, 219, 0.25);
$shadow-form: 0px 4px 4px rgba(219, 219, 219, 0.2);
