@import '../../styles/colors';
@import '../../styles/breakpoints';
@import '../../styles/global';

.container {
  padding: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.cta {
  margin: 0 auto;
  padding: 6rem 5rem;
  background-color: $blue;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 70%;

}

.text {
  
  h2 {
    width: 60%;
    color: $white;
    padding-bottom: 1rem;
  }
  p {
    color: $white;
  }
}

@media (max-width: $screen-medium) {
  .cta {
    flex-direction: column;
    max-width: 90%;
  }

  .text {
          text-align: center;

    h2 {
      width: 100%;
    }

    p {
      padding-bottom: 2.5rem;
    }
  }
}