@import '../../../styles/breakpoints';
@import '../../../styles/colors';
@import '../../../styles/global';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav *{
  padding-left: 3.5rem;
  transition: $transition;
}

h1 {
  max-width: 58rem;
  text-align: center;
  margin: auto;
  padding-top: 4rem;

  span {
    
    &.blue {
      color: $blue;
    }

    &.yellow {
      color: $yellow;
    }
  }
}

@media (max-width: $screen-small) {
  .container {
    flex-direction: column;
    gap: 1rem;
  }

  .nav * {
    padding-left: 1.5rem;

    &:nth-child(1){
      padding-left: 0;
    }
  }
}